.nested-fields-container {
    #stored_images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        .stored_image {
            display: flex-box;
            text-align: center;
            padding: 1em;
            border: 1px solid #ccc;
            border-radius: 6px;
            user-select: none;
            cursor: move;
        }
    }

    .active-storage__field {
        margin: 1.6em auto;
    }
}